.containerOne {
  background-color: #4a4ab3;
  width: 300px;
  height: 300px;
  position: relative; }
  .containerOne .boxs :nth-child(1) {
    animation-delay: 0.1s; }
  .containerOne .boxs :nth-child(2) {
    animation-delay: 0.2s; }
  .containerOne .boxs :nth-child(3) {
    animation-delay: 0.3s; }
  .containerOne .boxs :nth-child(4) {
    animation-delay: 0.4s; }
  .containerOne .boxs :nth-child(5) {
    animation-delay: 0.5s; }
  .containerOne .boxs :nth-child(6) {
    animation-delay: 0.6s; }
  .containerOne .boxs :nth-child(7) {
    animation-delay: 0.7s; }
  .containerOne .boxs :nth-child(8) {
    animation-delay: 0.8s; }
  .containerOne .box {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    animation-name: color;
    animation-duration: 1s;
    animation-iteration-count: infinite; }
    .containerOne .box:nth-child(1) {
      animation-delay: 0.1s; }
    .containerOne .box:nth-child(2) {
      animation-delay: 0.2s; }
    .containerOne .box:nth-child(3) {
      animation-delay: 0.3s; }
    .containerOne .box:nth-child(4) {
      animation-delay: 0.4s; }
    .containerOne .box:nth-child(5) {
      animation-delay: 0.5s; }
    .containerOne .box:nth-child(6) {
      animation-delay: 0.6s; }
    .containerOne .box:nth-child(7) {
      animation-delay: 0.7s; }
    .containerOne .box:nth-child(8) {
      animation-delay: 0.8s; }
  .containerOne .one {
    left: 44%;
    top: 52px; }
  .containerOne .two {
    top: 77px;
    right: 80px; }
  .containerOne .three {
    right: 55px;
    top: 129px; }
  .containerOne .four {
    top: 180px;
    right: 80px; }
  .containerOne .five {
    left: 44%;
    top: 211px; }
  .containerOne .six {
    top: 180px;
    left: 79px; }
  .containerOne .seven {
    right: 214px;
    top: 129px; }
  .containerOne .eight {
    top: 77px;
    left: 79px; }

.container-two {
  background-color: #4a4ab3;
  width: 300px;
  height: 300px;
  position: relative; }
  .container-two .circle {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 3px solid white;
    margin: calc(50% - 50px);
    animation: scale .7s linear .1s infinite; }

.container-three {
  background-color: #4a4ab3;
  width: 300px;
  height: 300px;
  position: relative; }
  .container-three .circle-clock {
    border-radius: 50%;
    border: 2px solid white;
    width: 150px;
    height: 150px;
    margin: calc(50% - 75px); }
    .container-three .circle-clock .line-one {
      width: 4px;
      height: 58px;
      background-color: white;
      animation: rotate 3s linear infinite;
      position: absolute;
      top: 152px;
      left: calc(50% - 2px);
      transform-origin: 2px 0; }
    .container-three .circle-clock .line-two {
      width: 4px;
      height: 36px;
      background-color: white;
      position: absolute;
      top: 152px;
      left: calc(50% - 2px);
      transform-origin: 2px 0px;
      animation: rotate 6s linear infinite; }

.container-four {
  background-color: #4a4ab3;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center; }
  .container-four .box-four {
    height: 157px;
    width: 20px;
    background-color: white;
    margin: auto 9px;
    animation: scale4 .8s infinite; }
    .container-four .box-four:nth-child(1) {
      animation-delay: .2s; }
    .container-four .box-four:nth-child(2) {
      animation-delay: .3s; }
    .container-four .box-four:nth-child(3) {
      animation-delay: .4s; }

.container-five {
  background-color: #4a4ab3;
  width: 300px;
  height: 300px;
  margin: 26px; }
  .container-five .dots {
    display: flex;
    width: 187px;
    margin: 71px;
    flex-wrap: wrap; }
    .container-five .dots :nth-child(even) {
      animation-delay: .1s; }
    .container-five .dots :nth-child(odd) {
      animation-delay: .2s; }
    .container-five .dots .dot {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: white;
      margin: 10px;
      animation-name: color5;
      animation-duration: .3s;
      animation-iteration-count: infinite; }

.container-six {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  margin: 22px; }
  .container-six .square {
    width: 50px;
    height: 50px;
    background-color: #ce41ce;
    margin: 10px;
    animation-name: fall;
    animation-duration: 1.5s; }
  .container-six .fi {
    animation-delay: .1s; }
  .container-six .fo {
    animation-delay: .2s; }
  .container-six .th {
    animation-delay: .3s; }
  .container-six .twelve {
    animation-delay: .4s; }
  .container-six .eleven {
    animation-delay: .5s; }
  .container-six .ten {
    animation-delay: .6s; }
  .container-six .nine {
    animation-delay: .7s; }
  .container-six .eight {
    animation-delay: .8s; }
  .container-six .seven {
    animation-delay: .9s; }
  .container-six .six {
    animation-delay: .10s; }
  .container-six .five {
    animation-delay: .11s; }
  .container-six .four {
    animation-delay: .12s; }
  .container-six .three {
    animation-delay: .13s; }
  .container-six .two {
    animation-delay: .14s; }
  .container-six .one {
    animation-delay: .15s; }

@keyframes color {
  0% {
    opacity: 1; }
  100% {
    opacity: 0.2; } }
@keyframes scale {
  0% {
    transform: scale(0.5); }
  50% {
    opacity: 0.3; }
  100% {
    opacity: 0; } }
@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes scale4 {
  0%,  100% {
    transform: scaleY(1); }
  50% {
    transform: scaleY(0.5); } }
@keyframes color5 {
  0% {
    opacity: 1; }
  100% {
    opacity: 0.5; } }
@keyframes fall {
  0% {
    transform: translateY(0);
    opacity: 1; }
  25% {
    transform: translateY(100px);
    opacity: 0; }
  50% {
    transform: translateY(-200px);
    opacity: 0; }
  100% {
    transform: translateY(0px);
    opacity: 1; } }
body {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; }

/*# sourceMappingURL=main.css.map */
